* {
    border: none;
    margin: 0;
    padding: 0;
}

header {
    background-color: white;
    border-bottom: 2px solid black;
}

header > h1 {
    text-align: center;
    padding: 10px;
}

article {
    width: 400px;
    border: 4px solid black;
    border-radius: 8px;
    margin: 10px;
    text-align: left;
    background-color: white;
}

article h2 {
    color: gray;
    padding: 4px 8px;
}

body {
    font-size: 20px;
    font-family: 'Shadows Into Light', cursive;
    background: url("../images/pexels-fauxels-3184357.jpg");
    background-position: center;
    min-height: 1080px;
    background-repeat: no-repeat;
}

main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 180px;
}

#todo h2 {
    border-bottom: 4px solid gray;
}

#inprogress h2 {
    color: orange;
    border-bottom: 4px solid orange;
}

#completed h2 {
    color:green;
    border-bottom: 4px solid green;
}

/*
article ul li:first-of-type {
    background-color: yellow;
}
*/

ul {
    list-style-type:decimal;
}

li {
    margin-left: 30px;
    padding-left: 0px;
    border-bottom: 2px solid lightgray;
}

ul li:last-child {
    border-bottom: 0px;
}

#inprogress li:has(input:checked) {
    color: gray;
    background-color: wheat;
}

#completed li:has(input:checked) {
    color: gray;
    background-color: lightgreen;
}

li:has(input:checked)::after {
    content: "👍";
}